
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5001:5001"
    environment:
      - NODE_ENV=production

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
